

.BookCard{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.GridCont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.GridCont>img{
    grid-row: 1/5;
    grid-column: 2;
    width: 15rem;
}