

.BookCard{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.GridCont>p{
    font-size: 24px;
}

.GridCont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.GridCont>img{
    grid-row: 1/5;
    grid-column: 2;
    width: 15rem;
}
.ButtonCont{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.ButtonCont>button{
    width: 100%;
    padding: 2rem;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
}
.ButtonCont>button:hover{
    background-color: rgb(61, 60, 60);
    transition-duration:0.2s ;
}
